<div class="head">
<br>
<p class="logo"><img src="http://s21.postimg.org/qoxi74jyf/logofinal.png" style="width:300px;height:120px;"></img></p>
</div>
<div class="jumbotron">
</div>

<br>
  <div class="row">
  <% @projects.each do |project| %>

  <div class="large-3 columns"><h2 class="projects"><%= link_to project.title, project %></h2>
<ul class="list">
    <li><%= project.description%></li>
      <li><%= project.goal%></li>
      <li><%= project.end_date%></li>
      <p><img src='http://lorempixel.com/g/200/200/'></img></p>
      <ul>


</div>

  <% end %>
  </div>
