// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=a8c7d5c60834c405f91c5b5cbabdd41a");
background-position: center;
background-size: cover;
background-repeat: no-repeat;

  height: 350px;

}
.head{
  text-align: center;

}

.rewards:hover {
  background-color: #41C3E4;
}


#pledge-form {
  display: none;
}
